@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

html {
  font-size: 10px;

  scroll-behavior: smooth;
  scroll-padding-top: 4rem;

  @media (min-width: 1500px) {
    font-size: 10px * 1.1;
  }

  @media (min-width: 1920px) {
    font-size: 10px * 1.2;
  }
}

:root {
  /* Typography */
  --family: 'Nunito Sans', sans-serif;
  --fs-sm: 1.6rem;
  --fs-md: 1.8rem;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /* Other */
  --radii: 0.5rem;
}

body,
input {
  font-size: 1.6rem;
}

body {
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
}

body[data-theme='light'] {
  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-ui-base: hsl(0, 0%, 100%);

  --color-link: blue;
  --color-link-visited: purple;

  --shadow: rgba(149, 157, 165, 0.2) 0px 0.8rem 2.4rem;
}
body[data-theme='dark'] {
  --colors-text: hsl(0, 0%, 100%);
  --colors-bg: hsl(207, 26%, 17%);
  --colors-ui-base: hsl(209, 23%, 22%);
  --color-link: aqua;
  --color-link-visited: rgb(255, 79, 255);

  --shadow: rgba(245, 245, 245, 0.2) 0 0 0.8rem;
}

a {
  color: var(--color-link);

  &:visited {
    color: var(--color-link-visited);
  }
}

.highlightedText {
  background-color: yellow;
}
